<%= form_with(model: user_ticket, local: true) do |form| %>
  <% if user_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_ticket.errors.count, "error") %> prohibited this user_ticket from being saved:</h2>

      <ul>
      <% user_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if can? :read, Event %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <BtnCaption>Select Event</BtnCaption>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @upcoming_events.each do |event| %>
          <li><%= event.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
