<!DOCTYPE html>
<html>
<head>
  <title>Lab10Assignment</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" >Login</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <%if  current_user%>
      <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="fas fa-sign-in-alt"><%= link_to "Log Out", log_out_path, method: :delete %></a>
      </li>
      </ul>
    <%else%>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up"><span class="fas fa-user"></span> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
      </ul>
    <%end %>
  </div>
</nav>
  <div>
    <strong><%= User.find(session["warden.user.user.key"][0][0]).name %></strong>

  </div>
<% if can? :manage, Ticket %>
  <%= link_to "Manage Tickets", tickets_path %> <br>
<% end %>
<% if can? :manage, Event %>
  <%= link_to "Manage Events", events_path %> <br>
<% end %>
<% if can? :create, UserTicket %>

  <%= link_to "Purchase ticket", new_user_ticket_path %> <br>
<% end %>
  <p id="notice"><%= notice %></p>
  <%= yield %>
</body>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>
